aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-weight: 300;
}

.menu a:hover {
    background: linear-gradient(135deg, #3945e0 0%, #151fb6 100%);
}

Button.button {
    background-color: rgba(223, 15, 15, 0.89);
    display: flex;
    white-space: nowrap;
    box-shadow: var(--shadow);
    justify-content: center;
}

div.exit {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}
